@using IdentityExampleProject.UI.ViewModels
@model AppUserViewModel

@{
    ViewData["Title"] = "SignIn";
}

<h3>Üye Ol</h3>

<hr />

<form asp-action="SignIn">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for=UserName  class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email" class="form-label"></label>
        <input asp-for=Email class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Sifre" class="form-label"></label>
        <input asp-for=Sifre class="form-control" />
        <span asp-validation-for="Sifre" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Üye Ol" />
    </div>   
</form>

