@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
}

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptPartial")
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-info">
            <h4>Sifre yenileme linki, e-posta adresinize gönderilecektir.</h4>
        </div>
        

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-success" role="alert"></div>

        <form  method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
</div>



