@model SignInViewModel

@{
    ViewData["Title"] = "SignIn";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Kullanıcı Giriş</h2>
        <form asp-action="SignIn" asp-controller="Home" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input">
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>
            <button type="submit" class="btn btn-primary">Giriş</button>
        </form>
    </di>
</div>

