@model SignInViewModel

@{
    ViewData["Title"] = "SignIn";
}

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptPartial")
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Kullanıcı Giriş</h2>

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-success" role="alert"></div>

        <form asp-action="SignIn" asp-controller="Home" asp-route-returnUrl = "@Context.Request.Query["returnUrl"]" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="Email"></label>
                <input type="email" class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input">
                        <label class="form-check-label" asp-for="RememberMe"></label>
                    </div>
                </div>
                <div class="col-md-6">
                    <a class="float-end" style="text-decoration:none" asp-controller="Home" asp-action="ForgetPassword">Şifremi Unuttum</a>
                </div>
            </div>         
            <button type="submit" class="btn btn-primary">Giriş</button>
        </form>
    </di>
</div>

